/* Основные */

body {
    background: linear-gradient(270deg, #4568DC, #B06AB3);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
main {
    display: block;
    background-color:#16171d;
    width: 80%;
    max-width: 200%;
    margin: auto;
    border-radius: 20px;
    opacity: .9;
    display: grid;
}
p {
    text-align: center;
    font-size: 20px;
    color: #424856;
}
a {
    text-decoration: none;
    color: #424856;
}
a:hover {
    opacity: .3;
}
h1 {
    font-size: 50px;
    color: #F1F1F1;
}
h2 {
    text-align: center;
    font-size: 40px;
    color: #F1F1F1;
}
img {
    width: auto;
    max-width: 20%;
    margin: auto;
    padding: 20px;
}
.container {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}




/* Header */

header {
    margin: 50px;
    padding: 20px;
}
header img {
    float: left;
}
.infblock {
    margin: 50px;
    padding: 20px;
}
ul, li {
    color: #424856;
    list-style: none;
    font-size: 30px;
    text-align: left;
}
li {
    margin: 5px;
}




/* Таблтца */

table {
    border: solid 3px #16171d;
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: #191B1F;
    color: #424856;
}
caption {
    padding: 30px; 
    caption-side: top;
    font-size: 35px;
    color: #F1F1F1;
}
tr, td {
    border: 5px solid #16171d;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}



/* Скрытый блок информации  */

#show:hover {
    opacity: .7;
}
#about p {
    color: #F1F1F1;
}
#about {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    font-size: 22px;
    
}




/* Footer */

footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #191B1F;
}
footer li {
    font-size: 20px;
    display: inline;
}